/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  height: 100%;
}
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-smoothing: antialiased;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
h1 > a,
h2 > a,
h3 > a {
  text-decoration: none;
}

.remove-click {
  pointer-events: none;
}

@font-face {
  font-family: "NotoSans-Regular";
  src: url("../assets/fonts/NotoSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans-Medium";
  src: url("../assets/fonts/NotoSans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans-SemiBold";
  src: url("../assets/fonts/NotoSans-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NotoSans-Bold";
  src: url("../assets/fonts/NotoSans-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.full-width {
  max-width: 90rem;
  width: 100%;
  margin: 0 auto;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes neon6 {
  from {
    text-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff00de,
      0 0 70px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 150px #ff00de;
  }
  to {
    text-shadow: 0 0 0px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de,
      0 0 35px #ff00de, 0 0 40px #ff00de, 0 0 50px #ff00de, 0 0 75px #ff00de;
  }
}

@media (hover: hover) {
  ::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.25rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #c0c0c0;
    border-radius: 0;
    opacity: 0.5;
  }

  ::-webkit-scrollbar-track {
    background-color: #f0f0f0;
    border-radius: 0;
  }

  .featured-category .card,
  .main-nav ul {
    margin-bottom: 1rem;
  }
}

.main-logo {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.main-logo img {
  max-width: 150px;
  width: 100%;
  margin: 1rem auto 0rem auto;
  object-fit: cover;
}

nav.main-nav.sticky {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

.main-nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  overflow-x: auto;
  padding: 1rem 1rem;
  -webkit-overflow-scrolling: touch;
}

.main-nav ul li {
  display: inline;
  background: #51ab5b;
  border-radius: 0.188rem;
  padding: 0.8rem;
  margin-left: 0.5rem;
}

li.active {
  filter: saturate(3);
}

.main-nav ul li:nth-child(1) {
  background: #0595a2;
}
.main-nav ul li:nth-child(2) {
  background: #01904b;
}
.main-nav ul li:nth-child(3) {
  background: #b7cc3d;
}
.main-nav ul li:nth-child(4) {
  background: #facc33;
}
.main-nav ul li:nth-child(5) {
  background: #fa845c;
}
.main-nav ul li:nth-child(6) {
  background: #29d4b4;
}
.main-nav ul li:first-child {
  margin-left: 0;
}

.main-nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-family: "NotoSans-Medium", sans-serif;
}

.content-news {
  display: grid;
  justify-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  gap: 32px;
  height: 100%;
}

.content-news > .card {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-news > .card > a > img {
    border-radius: 5px;
}

.content-news > .card:nth-child(1) {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  width: 36.5vw;
  min-width: 400px;
  height: 100%;
}

.content-news > .card:nth-child(1) > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-news > .card:nth-child(2) {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 4;
  width: 100%;
  height: 264px;
}

.content-news > .card:nth-child(2) > a > img {
  width: 100%;
  min-width: 268px;
  height: 100%;
  object-fit: cover;
}

.content-news > .card:nth-child(3) {
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
  width: 100%;
  height: 264px;
}

.content-news > .card:nth-child(4) {
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 3;
  width: 100%;
  height: 264px;
}

.content-news > .card:nth-child(3) > a > img,
.content-news > .card:nth-child(4) > a > img {
  width: 100%;
  height: 264px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .main-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .main-logo img {
    max-width: 150px;
    width: 100%;
    margin: 1rem auto 0rem auto;
    object-fit: cover;
  }

  nav.main-nav.sticky {
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
  }

  .main-nav ul {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    overflow-x: auto;
    padding: 1rem 1rem;
    -webkit-overflow-scrolling: touch;
  }

  .main-nav ul li {
    display: inline;
    background: #51ab5b;
    border-radius: 0.188rem;
    padding: 0.8rem;
    margin-left: 0.5rem;
  }

  li.active {
    filter: saturate(3);
  }

  .main-nav ul li:nth-child(1) {
    background: #0595a2;
  }
  .main-nav ul li:nth-child(2) {
    background: #01904b;
  }
  .main-nav ul li:nth-child(3) {
    background: #b7cc3d;
  }
  .main-nav ul li:nth-child(4) {
    background: #facc33;
  }
  .main-nav ul li:nth-child(5) {
    background: #fa845c;
  }
  .main-nav ul li:nth-child(6) {
    background: #29d4b4;
  }
  .main-nav ul li:first-child {
    margin-left: 0;
  }
  .main-nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-family: "NotoSans-Medium", sans-serif;
  }

  .content-news {
    width: 100%;
    display: contents;
  }

  .content-news > .card {
    width: 100%;
  }

  .content-news > .card:nth-child(1),
  .content-news > .card:nth-child(2),
  .content-news > .card:nth-child(3),
  .content-news > .card:nth-child(4) {
    grid-row-start: auto;
    grid-column-start: auto;
    grid-row-end: auto;
    grid-column-end: auto;
    height: auto;
    width: 100%;
  }

  .card > a {
    text-decoration: none;
    display: flex;
  }

  .content-news > .card > h3 {
    font-size: 1rem;
    color: black;
    font-family: "NotoSans-Medium", sans-serif;
    padding: 1rem 1rem;
  }

  .content-news > .card > h3 > a {
    color: black;
  }
  .content-news > .card:nth-child(1) > a > img,
  .content-news > .card:nth-child(2) > a > img,
  .content-news > .card:nth-child(3) > a > img,
  .content-news > .card:nth-child(4) > a > img,
  .content-news .card img {
    max-width: 100%;
    width: 100%;
    height: 12.5rem;
  }
  .contet-ads {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 1rem 0;
  }

  .content-category {
    background-image: linear-gradient(
      to right,
      rgba(131, 58, 180, 1) 25%,
      rgba(253, 29, 29, 0.8) 50%,
      rgba(252, 176, 69, 1)
    );
    background-size: 1000% 100%;
    animation: gradientAnimation 20s ease infinite;
    padding: 0.8rem 0;
  }

  .content-category .category-title {
    font-family: "NotoSans-Medium", sans-serif;
    padding: 0 1rem;
  }

  .content-category .category-title a {
    color: white;
  }

  .featured-category {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 19.688rem;
  }
  .featured-category .card {
    position: relative;
    margin-left: 1rem;
    padding-right: 0;
    width: 180px;
    height: 290px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    border-radius: 0.313rem;
    transition: transform 0.3s ease-in-out;
  }

  .featured-category .card:first-child {
    margin-left: 0;
    padding-right: 0;
  }

  .featured-category .card > a::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background: rgb(63, 94, 251);
    background: linear-gradient(
      360deg,
      rgba(63, 94, 251, 0.5) 0%,
      rgba(252, 70, 107, 0.5) 100%
    );
    width: 100%;
    height: 100%;
    border-radius: 0.313rem;
  }

  .featured-category .card > h3 {
    position: absolute;
    bottom: 0;
    padding: 0.5rem;
  }

  .featured-category .card > h3 > a {
    color: white;
    font-family: "NotoSans-Regular", sans-serif;
    font-size: 1rem;
    line-height: 1.2rem;
    text-shadow: 1px 1px 1px rgb(0 0 0);
  }

  .featured-category .card img {
    width: 180px;
    height: 290px;
    border-radius: 0.313rem;
    object-fit: cover;
  }

  footer {
    padding-top: 1rem;
    background: #0b0f19;
    color: white;
  }

  footer h2 {
    text-align: center;
    font-size: 3rem;
    font-family: "NotoSans-Bold", sans-serif;
    text-transform: uppercase;
    line-height: 3.5rem;
    padding: 1rem;
    -webkit-background-clip: text;
    color: transparent;
    animation: neon6 1.5s ease-in-out infinite alternate;
  }

  .footer-desc-logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
  }

  .footer-desc-logo > a > img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #7952b3;
    background: linear-gradient(
      to right,
      rgba(253, 29, 29, 0.8) 50%,
      rgba(252, 176, 69, 1)
    );
  }

  .footer-desc-logo > a {
    text-decoration: none;
  }

  .footer-desc-text {
    font-family: "NotoSans-Regular", sans-serif;
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.2rem;
    padding: 1rem;
  }

  .footer-links {
    padding: 1rem;
  }

  .footer-links-item {
    margin-bottom: 1rem;
  }

  .footer-links-item h3 {
    text-align: center;
    font-size: 1rem;
    font-family: "NotoSans-SemiBold", sans-serif;
    padding-bottom: 0.5rem;
  }

  .nav-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .nav-footer li {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }

  .nav-footer li > a {
    text-decoration: none;
    color: white;
    font-family: "NotoSans-Regular", sans-serif;
  }

  .footer-links-item .icon-chevron {
    margin-top: 1rem;
  }

  .footer-links-item .icon-chevron > svg {
    color: white;
    fill: white;
    width: 0.5rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    margin-left: 0.5rem;
    position: relative;
    top: 0;
  }

  .nav-footer {
    display: none;
  }

  .nav-footer.show-menu {
    display: block;
  }

  .text-copyright {
    font-family: "NotoSans-Regular", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    padding: 1.5rem;
    background-color: black;
  }
}

@media screen and (min-width: 768px) {
  /* Estilos específicos para tablets e telas maiores */
}

@media screen and (min-width: 1200px) {
  /* Estilos específicos para desktops grandes */
  .content-news > .card:nth-child(1) {
    width: 50vw;
  }
}

@media screen and (min-width: 1600px) {
  .content-news > .card:nth-child(1) {
    width: 45vw;
  }
}
