@import './variables/variables.scss';
@import './util/reset.scss';
@import './util/fonts.scss';

@keyframes gradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes gradientBorderAnimation {
  0%, 100% {
    border-image-source: linear-gradient(to right, $flat1, $flat2, $flat3, $flat4, $flat5);
  }

  25% {
    border-image-source: linear-gradient(to right, $flat2, $flat1, $flat3, $flat4, $flat5);
  }
  50% {
    border-image-source: linear-gradient(to right, $flat2, $flat3, $flat1, $flat4, $flat5);
  }
  75% {
    border-image-source: linear-gradient(to right, $flat2, $flat3, $flat4, $flat1, $flat5);
  }
}





@keyframes neon6 {
	from {
		text-shadow:
			0 0 5px #fff,
			0 0 20px #fff,
			0 0 30px #fff,
			0 0 40px #ff00de,
			0 0 70px #ff00de,
			0 0 80px #ff00de,
			0 0 100px #ff00de,
			0 0 150px #ff00de;
	}
	to {
		text-shadow:
			0 0 0px #fff,
			0 0 10px #fff,
			0 0 15px #fff,
			0 0 20px #ff00de,
			0 0 35px #ff00de,
			0 0 40px #ff00de,
			0 0 50px #ff00de,
			0 0 75px #ff00de;
	}
}

.desktop {
	display: flex;
	justify-content: center;
	margin: 1rem 0;
}
.mobile {
	display: none;
}
.contet-ads {
	> a {
		text-align: center;
		> img {
			max-width: 970px;
			width: calc(100% - 2rem);
		}
	}
}

section {
	clear: both;
}

.full-width {
	max-width: 90rem;
	width: 100%;
	margin: 0 auto;
}

.full-with-sidebar {
	width: 70%;
	float: left;
}

.right-sidebar {
	top: 6rem;
	width: 28%;
	float: left;
	position: sticky;
}

.right-sidebar {
	> h3 {
		font-family: $NotosansBold;
		font-size: 2rem;
		color: $dark5;
		padding: 1rem 0;
	}
	 ul {
		padding: 0 1rem;
		> li {
			> a {
				list-style: none;
				text-decoration: none;
				color: $dark4;
				font-family: $NotosansSemiBold;
				line-height: 1.3rem;
				&:hover  {
					color: $flat1;
				}
			}
		}
	}
}

header {
  border-top: 0.5rem solid transparent; 
  border-image: linear-gradient(to right, $flat1, $flat2, $flat3, $flat4, $flat5);
  border-image-slice: 1;
	animation: gradientBorderAnimation 5s ease infinite;
	animation-fill-mode: forwards;
  animation-timing-function: linear;
	.container {
		display: flex;
		justify-content: flex-end;
		.topbar-right {
					.search-icon {
				width: 22px;
				height: 22px;
				padding: 1rem;
				cursor: pointer;
			}
		}
	}
	
}


.main-logo {
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
	img {
		max-width: 150px;
		width: 100%;
		margin: 1rem auto 0rem auto;
		object-fit: cover;
	}
}

nav.main-nav.sticky {
	background-color: $bgWhite;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 9;
}

.main-nav {
	ul {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		overflow-x: auto;
		padding: 1rem 1rem;
		-webkit-overflow-scrolling: touch;
		li {
			display: inline;
			background: #51ab5b;
			border-radius: 0.188rem;
			padding: 0.8rem;
			margin-left: 0.5rem;
			&:nth-child(1) {
				background: #0595a2;
			}
			&:nth-child(2) {
				background: #01904b;
			}
			&:nth-child(3) {
				background: #b7cc3d;
			}
			&:nth-child(4) {
				background: #facc33;
			}
			&:nth-child(5) {
				background: #fa845c;
			}
			&:nth-child(6) {
				background: #29d4b4;
			}
			&:first-child {
				margin-left: 0;
			}
			a {
				text-decoration: none;
				color: $white;
				font-size: 1rem;
				font-family: $NotosansMedium;
			}
		}
	}
}
li.active {
	filter: saturate(3);
}
.content-news {
	display: grid;
	justify-items: center;
	grid-template-rows: 1fr;
	gap: 2rem;
	height: 100%;
	padding: 1rem;
	img {
		border-radius: 0.5rem;
	}
	> .card {
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: relative;
		> a {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background: black;
				opacity: 0.3;
				width: 100%;
				height: 100%;
				transition: filter 0.3s ease-in-out;
				border-radius: 0.5rem;
			}
		}
		&:hover {
			> a {
				&::after {
					background: transparent;
					filter: saturate(1);
				}
			}
			> h3 {
				a {
					background-size: 100% 6%;
				}
			}
		}
		&:nth-child(1) {
			grid-row-start: 1;
			grid-column-start: 1;
			grid-row-end: 3;
			grid-column-end: 2;
			min-width: 35vw;
			height: 100%;
			> a {
				> img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		&:nth-child(2) {
			grid-row-start: 1;
			grid-column-start: 2;
			grid-row-end: 2;
			grid-column-end: 4;
			width: 100%;
			height: 264px;
			> a {
				> img {
					width: 100%;
					min-width: 268px;
					height: 100%;
					object-fit: cover;
				}
			}
		}
		&:nth-child(3) {
			grid-row-start: 2;
			grid-column-start: 2;
			grid-row-end: 3;
			grid-column-end: 3;
			width: 100%;
			height: 264px;
			> a {
				> img {
					width: 100%;
					height: 264px;
					object-fit: cover;
				}
			}
		}
		&:nth-child(4) {
			grid-row-start: 2;
			grid-column-start: 3;
			grid-row-end: 3;
			grid-column-end: 3;
			width: 100%;
			height: 264px;
			> a {
				> img {
					width: 100%;
					height: 264px;
					object-fit: cover;
				}
			}
		}
		> h3 {
			position: absolute;
			bottom: 0;
			left: 0;
			color: $white;
			font-family: $NotosansBold;
			line-height: 1.3rem;
			padding: 1rem 1rem;
			a {
				background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
				background: linear-gradient(to right, currentColor 0%, currentColor 100%);
				background-size: 0px 6%;
				background-repeat: no-repeat;
				background-position: left 100%;
				-webkit-transition-duration: 0.6s;
				transition-duration: 0.6s;
				font-weight: inherit;
				color: $white;
			}
		}
	}
}
.content-category {
	background-image: linear-gradient(
		to right,
		rgba(131, 58, 180, 1) 25%,
		rgba(253, 29, 29, 0.8) 50%,
		rgba(252, 176, 69, 1)
	);
	background-size: 1000% 100%;
	animation: gradientAnimation 20s ease infinite;
	padding: 0.8rem 0;
	.category-title {
		font-family: $NotosansMedium;
		padding: 0 1rem;
		a {
			color: $white;
			font-size: 2rem;
		}
	}
}
.featured-category {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	padding-top: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 100%;
	.card {
		position: relative;
		margin-left: 1rem;
		padding-right: 0;
		width: 254px;
		height: 400px;
		-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
		border-radius: 0.313rem;
		transition: transform 0.3s ease-in-out;
		&:first-child {
			margin-left: 0;
			padding-right: 0;
		}
		> a {
			&::after {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				background: rgb(63, 94, 251);
				background: linear-gradient(360deg, rgba(63, 94, 251, 0.5) 0%, rgba(252, 70, 107, 0.5) 100%);
				width: 100%;
				height: 100%;
				border-radius: 0.313rem;
				transition: filter 0.3s ease-in-out;
			}
		}
		&:hover {
			> a {
				&::after {
					background: transparent;
					filter: saturate(2);
				}
			}
		}
		> h3 {
			position: absolute;
			bottom: 0;
			padding: 0.5rem;
			> a {
				color: $white;
				font-family: $NotosansRegular;
				font-size: 1rem;
				line-height: 1.2rem;
				text-shadow: 1px 1px 1px rgb(0, 0, 0);
				display: block;
			}
		}
		img {
			width: 254px;
			height: 400px;
			border-radius: 0.313rem;
			object-fit: cover;
		}
	}
}
.section-title {
	font-size: 2rem;
	font-family: $NotosansBold;
	padding: 2rem 1rem;
}
.content-random {
	display: flex;
	.card-grid {
		display: flex;
		flex-direction: column;
		padding: 0 1rem;
	}
}
.card-grid {
	.card {
		object-fit: cover;
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		border-radius: 0.5rem;
		h3 {
			padding: 1rem 0;
			font-family: $NotosansSemiBold;
			color: $dark;
			> a {
				color: $dark;
				line-height: 1.3rem;
				background: -webkit-gradient(linear, left top, right top, from(currentColor), to(currentColor));
				background: linear-gradient(to right, currentColor 0%, currentColor 100%);
				background-size: 0px 6%;
				background-repeat: no-repeat;
				background-position: left 100%;
				-webkit-transition-duration: 0.6s;
				transition-duration: 0.6s;
				font-weight: inherit;
				&:hover {
					background-size: 100% 6%;
				}
			}
		}
		> .inner-card {
			padding-left: 1rem;
		}
		> a {
			> img {
				object-fit: cover;
				width: 198px;
				height: 134px;
				border-radius: 0.5rem;
				transition: filter 0.3s ease-in-out;
				&:hover {
					filter: saturate(3.5);
				}
			}
		}
	}
	> .inner-card {
		display: flex;
	}
}
a.category-badge {
	text-decoration: none;
	padding: 0.3rem 1rem;
	border-radius: 5px;
	font-size: 0.8rem;
	font-family: $NotosansRegular;
	transition: filter 0.3s ease-in-out;
}
.category-badge {
	&:hover {
		filter: saturate(3);
	}
}
.circle {
	width: 0.5rem;
	height: 0.5rem;
	border-radius: 100%;
	display: inline-block;
	margin-right: 0.5rem;
}
.category-badge.animes {
	background: pink;
	color: $red;
}
.animes {
	.circle {
		background: rgb(230, 0, 38);
	}
}
footer {
	padding-top: 1rem;
	background: #0b0f19;
	color: $white;
	h2 {
		text-align: center;
		font-size: 3rem;
		font-family: $NotosansBold;
		text-transform: uppercase;
		line-height: 3.5rem;
		padding: 1rem;
		-webkit-background-clip: text;
		color: $color4;
		animation: neon6 1.5s ease-in-out infinite alternate;
	}
}
.footer-desc-logo {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem;
	> a {
		> img {
			height: 120px;
			width: 120px;
			border-radius: 50%;
			object-fit: cover;
			border: 3px solid #7952b3;
			background: linear-gradient(to right, rgba(253, 29, 29, 0.8) 50%, rgba(252, 176, 69, 1));
		}
		text-decoration: none;
	}
}
.footer-desc-text {
	font-family: $NotosansRegular;
	font-size: 0.9rem;
	text-align: center;
	line-height: 1.2rem;
	padding: 1rem;
	width: 30rem;
}
.footer-links {
	padding: 1rem;
	display: flex;
	justify-content: space-around;
}
.footer-links-item {
	margin-bottom: 1rem;
	h3 {
		text-align: center;
		font-size: 1rem;
		font-family: $NotosansSemiBold;
		padding-bottom: 0.5rem;
		cursor: pointer;
	}
	.icon-chevron {
		margin-top: 1rem;
		> svg {
			color: $white;
			fill: white;
			width: 0.5rem;
			-webkit-transform: rotate(90deg);
			-moz-transform: rotate(90deg);
			-ms-transform: rotate(90deg);
			-o-transform: rotate(90deg);
			transform: rotate(90deg);
			margin-left: 0.5rem;
			position: relative;
			top: 0;
		}
	}
}
.nav-footer {
	display: flex;
	flex-direction: column;
	text-align: center;
	display: none;
	li {
		font-size: 0.8rem;
		line-height: 1.3rem;
		> a {
			text-decoration: none;
			color: $white;
			font-family: $NotosansRegular;
		}
	}
}
.nav-footer.show-menu {
	display: block;
}
.text-copyright {
	font-family: $NotosansRegular;
	font-size: 0.8rem;
	text-align: center;
	padding: 1.5rem;
	background-color: $bgBlack;
}
@media (hover: hover) {
	&::-webkit-scrollbar {
		width: 0.5rem;
		height: 0.25rem;
	}
	&::-webkit-scrollbar-thumb {
		background-color: $bg2;
		border-radius: 0;
		opacity: 0.5;
	}
	&::-webkit-scrollbar-track {
		background-color: $bg3;
		border-radius: 0;
	}
	.featured-category {
		.card {
			margin-bottom: 1rem;
		}
	}
	.main-nav {
		ul {
			margin-bottom: 1rem;
		}
	}
}
@media screen and (max-width: 767px) {
	.mobile {
		display: flex;
		justify-content: center;
		margin: 1rem 0;
	}
	.desktop {
		display: none;
	}
	.contet-ads {
		> a {
			> img {
				width: 100%;
			}
		}
	}
	.main-logo {
		display: flex;
		align-content: center;
		justify-content: center;
		align-items: center;
		img {
			max-width: 150px;
			width: 100%;
			margin: 1rem auto 0rem auto;
			object-fit: cover;
		}
	}
	nav.main-nav.sticky {
		background-color: $bgWhite;
		position: fixed;
		width: 100%;
		top: 0;
		z-index: 9;
	}
	.main-nav {
		ul {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
			overflow-x: auto;
			padding: 1rem 1rem;
			-webkit-overflow-scrolling: touch;
			li {
				display: inline;
				background: #51ab5b;
				border-radius: 0.188rem;
				padding: 0.8rem;
				margin-left: 0.5rem;
				&:nth-child(1) {
					background: #0595a2;
				}
				&:nth-child(2) {
					background: #01904b;
				}
				&:nth-child(3) {
					background: #b7cc3d;
				}
				&:nth-child(4) {
					background: #facc33;
				}
				&:nth-child(5) {
					background: #fa845c;
				}
				&:nth-child(6) {
					background: #29d4b4;
				}
				&:first-child {
					margin-left: 0;
				}
				a {
					text-decoration: none;
					color: $white;
					font-size: 1rem;
					font-family: $NotosansMedium;
				}
			}
		}
	}
	li.active {
		filter: saturate(3);
	}
	.content-news {
		width: 100%;
		display: contents;
		img {
			border-radius: 0;
		}
		> .card {
			width: 100%;
			> a {
				&::after {
					border-radius: 0;
				}
			}
			&:nth-child(1) {
				grid-row-start: auto;
				grid-column-start: auto;
				grid-row-end: auto;
				grid-column-end: auto;
				height: auto;
				width: 100%;
				> a {
					> img {
						max-width: 100%;
						width: 100%;
						height: 12.5rem;
					}
				}
			}
			&:nth-child(2) {
				grid-row-start: auto;
				grid-column-start: auto;
				grid-row-end: auto;
				grid-column-end: auto;
				height: auto;
				width: 100%;
				> a {
					> img {
						max-width: 100%;
						width: 100%;
						height: 12.5rem;
					}
				}
			}
			&:nth-child(3) {
				grid-row-start: auto;
				grid-column-start: auto;
				grid-row-end: auto;
				grid-column-end: auto;
				height: auto;
				width: 100%;
				> a {
					> img {
						max-width: 100%;
						width: 100%;
						height: 12.5rem;
					}
				}
			}
			&:nth-child(4) {
				grid-row-start: auto;
				grid-column-start: auto;
				grid-row-end: auto;
				grid-column-end: auto;
				height: auto;
				width: 100%;
				> a {
					> img {
						max-width: 100%;
						width: 100%;
						height: 12.5rem;
					}
				}
			}
			> h3 {
				font-size: 1rem;
				color: $black;
				font-family: $NotosansMedium;
				padding: 1rem 1rem;
				position: initial;
				> a {
					color: $black;
				}
			}
			> a {
				position: relative;
			}
		}
		.card {
			img {
				max-width: 100%;
				width: 100%;
				height: 12.5rem;
			}
		}
	}
	.card {
		> a {
			text-decoration: none;
			display: flex;
		}
	}
	.content-category {
		background-image: linear-gradient(
			to right,
			rgba(131, 58, 180, 1) 25%,
			rgba(253, 29, 29, 0.8) 50%,
			rgba(252, 176, 69, 1)
		);
		background-size: 1000% 100%;
		animation: gradientAnimation 20s ease infinite;
		padding: 0.8rem 0;
		.category-title {
			font-family: $NotosansMedium;
			padding: 0 1rem;
			a {
				color: $white;
				font-size: 2rem;
			}
		}
	}
	.featured-category {
		display: flex;
		flex-wrap: nowrap;
		overflow-x: auto;
		overflow-y: hidden;
		-webkit-overflow-scrolling: touch;
		padding-top: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
		height: 19.688rem;
		.card {
			position: relative;
			margin-left: 1rem;
			padding-right: 0;
			width: 180px;
			height: 290px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
			border-radius: 0.313rem;
			transition: transform 0.3s ease-in-out;
			&:first-child {
				margin-left: 0;
				padding-right: 0;
			}
			> a {
				&::after {
					content: '';
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					background: rgb(63, 94, 251);
					background: linear-gradient(360deg, rgba(63, 94, 251, 0.5) 0%, rgba(252, 70, 107, 0.5) 100%);
					width: 100%;
					height: 100%;
					border-radius: 0.313rem;
				}
			}
			> h3 {
				position: absolute;
				bottom: 0;
				padding: 0.5rem;
				> a {
					color: $white;
					font-family: $NotosansRegular;
					font-size: 1rem;
					line-height: 1.2rem;
					text-shadow: 1px 1px 1px rgb(0, 0, 0);
				}
			}
			img {
				width: 180px;
				height: 290px;
				border-radius: 0.313rem;
				object-fit: cover;
			}
		}
	}
	.full-with-sidebar {
		width: 100%;
		padding-left: 0;
	}
	.right-sidebar {
		display: none;
	}
	.content-random {
		display: flex;
		flex-direction: column;
	}
	footer {
		overflow: hidden;
		padding-top: 1rem;
		background: #0b0f19;
		color: $white;
		h2 {
			text-align: center;
			font-size: 3rem;
			font-family: $NotosansBold;
			text-transform: uppercase;
			line-height: 3.5rem;
			padding: 1rem;
			-webkit-background-clip: text;
			color: $color4;
			animation: neon6 1.5s ease-in-out infinite alternate;
		}
	}
	.footer-desc-logo {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 1rem;
		> a {
			> img {
				height: 120px;
				width: 120px;
				border-radius: 50%;
				object-fit: cover;
				border: 3px solid #7952b3;
				background: linear-gradient(to right, rgba(253, 29, 29, 0.8) 50%, rgba(252, 176, 69, 1));
			}
			text-decoration: none;
		}
	}
	.footer-desc-text {
		font-family: $NotosansRegular;
		font-size: 0.9rem;
		text-align: center;
		line-height: 1.2rem;
		padding: 1rem;
		width: 100%;
	}
	.footer-links {
		padding: 1rem;
		flex-direction: column;
	}
	.footer-links-item {
		margin-bottom: 1rem;
		h3 {
			text-align: center;
			font-size: 1rem;
			font-family: $NotosansSemiBold;
			padding-bottom: 0.5rem;
		}
		.icon-chevron {
			margin-top: 1rem;
			> svg {
				color: $white;
				fill: white;
				width: 0.5rem;
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				transform: rotate(90deg);
				margin-left: 0.5rem;
				position: relative;
				top: 0;
			}
		}
	}
	.nav-footer {
		display: flex;
		flex-direction: column;
		text-align: center;
		display: none;
		li {
			font-size: 0.8rem;
			line-height: 1.3rem;
			> a {
				text-decoration: none;
				color: $white;
				font-family: $NotosansRegular;
			}
		}
	}
	.nav-footer.show-menu {
		display: block;
	}
	.text-copyright {
		font-family: $NotosansRegular;
		font-size: 0.8rem;
		text-align: center;
		padding: 1.5rem;
		background-color: $bgBlack;
	}
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
	.content-news {
		gap: 5px;
	}
	.full-with-sidebar {
		width: 60%;
	}
	.right-sidebar {
		width: 38%;
	}
	.content-random {
		flex-direction: column;
	}
}
